.logo{
    display: inline-flex;
    margin: auto;
}

.logo-img{
    width: 93.75rem;
    height: 10rem;
}

nav{
    /* margin: auto; */
    background-color: rgb(195, 152, 152);
}

ul{
    /* text-align: left; */
    display: inline-flex ;
}

li {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    margin-right: 5rem;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    z-index: 1;
}

section{
    column-count: 2;
}
article{
    background-color: teal;
}
aside{
    background-color:blue;
}

.fa-solid{
    position: fixed;
}
a:hover{
    color: red;
}

a:active{
    color: yellow;
}
/* a:visited{
    color: black;
} */
